################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/exec.ps1
/exec.ps1.txt
